$input-padding: 16px 22px;
$icon-size: 22px;

.input--wrapper {
  position: relative;
  padding: $global-spacing 0;

  input {
    max-width: $container-width;
    width: 100%;
    padding: $input-padding;
    background-color: $grey;
    border-radius: $border-radius;
    line-height: 24px;
    font-size: 18px;
    transition: .15s;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    color: $grey-dark;

    + svg { color: $grey-dark }


    &::placeholder { color: $grey-dark; }

    &:focus,
    &:valid {
      background-color: $white;
      outline: 0;
      box-shadow: 0 1px 2px 0 rgba(#001319, .16), 0 4px 12px 0 rgba(#001319, .08);
      color: $black;

      + svg {
        color: $black;
      }
    }

    &[type="search"] {
      padding-left: 50px;

      + svg {
        position: absolute;
        left: #{(50 - $icon-size) / 2};
        width: $icon-size;
        height: $icon-size;
        transform: translateY( -50% );
        top: 50%;


        path { fill: currentColor; }
      }

    }
  }

  &--load {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY( -50% );
    width: $icon-size;
    height: $icon-size;
    z-index: 1;
    background-color: $white;
    animation: load 1s infinite linear;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-image: url("../assets/icons/clear.svg");
  height: $icon-size;
  width: $icon-size;
  background-size: contain;
  opacity: .5;
  transition: .15s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

@keyframes load {
  from { transform: translateY( -50% ) rotate(0deg); }
  to { transform: translateY( -50% ) rotate( 359deg ); }
}