.overview--tabs {
  padding: $global-spacing 0;
  overflow: hidden;
  position: relative;

  .react-draggable { cursor: grab; }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 64px;
    pointer-events: none;
    background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }

  &--item {
    background-color: $grey;
    border-radius: $border-radius;
    font-size: 16px;
    line-height: 22px;
    padding: 12px 18px;
    margin-right: $global-spacing;
    cursor: pointer;
    transition: .15s box-shadow;

    &:hover {
      box-shadow: 1.5px 1.5px 0 0 rgba( 0, 0, 0, .15);
    }
  }

  input[type='checkbox']:checked + .overview--tabs--item {
    background-color: $blue;
    color: $white;
    font-weight: 600;
  }
}