$overview-card-image-size: 48px;

.overview--card {
  display: flex;
  flex-direction: row;
  color: $black;
  justify-content: space-between;
  margin: $global-spacing 0;
  padding: 5px $global-spacing;
  background-color: $white;
  border-radius: $border-radius;
  transition: .15s;

  &:hover {
    box-shadow: 0 1px 2px 0 rgba(#001319, .16), 0 4px 12px 0 rgba(#001319, .08);
    transform: scale(1.025);
  }

  &__content {
    max-width: calc(100% - #{$overview-card-image-size + $global-spacing});

    &--title,
    &--cat {
      font-size: 18px;
      max-width: 100%;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--cat {
      font-size: 16px;
      color: $grey-dark;
    }
  }

  &--image {
    object-fit: cover;
    width: $overview-card-image-size;
    height: $overview-card-image-size;
    border-radius: 50%;
    background-color: $grey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    path {
      fill: $grey-dark;
    }

  }

}